* 
{
margin: 0;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 65%;
    width: 400px;
    font-size: 20px;
    
}

.head-page {
    display: flex;
    align-items: center;
    background-color: rgb(252, 245, 245);
    width: auto;
    height: 80px;
}

.logo-link {
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.main-page {
    
    background-image: url(./images/banner-landingpage.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    /* border: 3px solid chartreuse; */
    
    
    
}

.box1 {
    background-color: #9dc20b;
    width: 570px;
    height: 360px;
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
    left: 100px;
    color: white;

}

.content-box {
    text-align: center;
    margin-top: 50px;

}

.instant {
    margin-bottom: 15px;
    font-family: Damion;
    font-size: 35px;
}

.big-title {
    margin-bottom: 15px;
    font-family: Rubik;
}

.paragraph {
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Roboto;
}



.button {
    margin-top: 50px;
    background-color: rgb(62, 60, 60);
    width: 400px;
    height: 50px;
    margin-left: 90px;
    font-size: 25px;
    padding-top: 15px;
   
}

.lesvolet {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(246, 243, 243);
}

.volet {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.image-container {
    width: 90%;
    flex: 5;
}

img {
    width: inherit;
    height: inherit;
    margin-top: 40px;
    margin-left: 20px;
}

.content {
    width: 90%;
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 30px;
}
    
 .over {
     width: 100%;
     height: 400px;
     background-color: rgb(96, 94, 94);
     color: white;
     text-align: center;
     overflow: hidden;
     margin-right: 0px;
     
 }

 .titreover {
     font-family: Rubik;
     font-size: 40px;
     padding-top: 50px;
 }
  
 .over p {
font-size: 15px;
 }

 .lescam {
     display: flex;
     min-height: 500px;
     justify-content: center;
 }

 .cam {
    background-size: cover;
    background-position: center;
     min-width: 350px;
     height: 200px;
     flex: 1;
     margin-top: 50px;
     
}

.cam1 {
    background-image: url(./images/feature-1.png);
}
.cam2 {
    background-image: url(./images/filter-2.png)
}
.cam3 {
    background-image: url(./images/filter-3.png);
}
.cam4 {
    background-image: url(./images/filter-4.png);
}

.footer {
    display: flex;
    background-color: rgb(184, 178, 178);
    color: black;
}

.foot-h4 {

}

#foot-h5 {
    margin-left: 70%;
}
